html body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    background-color: darkgreen;
    padding: 13px 20px;
    margin: 0;
    font-size: 14px;
}

.header a, .header a:hover, .header a:active, .header a:visited {
    color: white;
    text-decoration: none;
}

.header .logo {
    font-size: 24px !important;
}

.header .login {
    float: right;
}

.header .login .profile{
    color: #4cc1e8;
    margin-right: 10px;
}

.notif {
    background: yellow;
    color: darkred;
}

.chartTypeSelect {
    margin-left: 100px;
}

.readingsTable {
    font-size: 12px;
}
